* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


ul,
ol,
li, 
table {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  cursor: pointer;
}

.app {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main { 
    max-width: 33.6rem;
    color: #fff;
    background-color: #242424;
    font-size: 1.4rem;
    border-radius: 0.6rem;
}

.ul-flex-box {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-box {
    display: flex;
    align-items: center;
}

.icon {
    border-radius: 0.4rem;
    background-color: #333;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: #444;
    }

    i {
        font-size: 1rem;
        opacity: 0.8;
    }
}

.active {
    background-color: #36809c !important;
}

.active  {
    &.hover-active {
        border: 1px solid #000;
    }
}

.hover-active {
    box-shadow: 0 0 0 1px #36809c;
}


.none__active,
.disabled {
    opacity: 0.5;
}

.disabled {
    cursor: default !important;

    &.current__month--year:hover {
        background-color: #242424 !important;
    }

    &.icon:hover {
        background-color: #333;
    }
}

.pointer {
    cursor: pointer;
}